.box{
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.box:hover{
    background-color: #065d0a;
}

/* Highlight effect for the selected button */
// .box.highlight {
//   background-color: #ffeeba; /* Adjust the background color as needed */
//   color: #856404; /* Adjust the text color as needed */
// }
.clicked-button {
  background-color: #ffeeba; /* Adjust the background color as needed */
  color: #856404; /* Adjust the text color as needed */
}
