.box{
    padding: 8px 15px;
    background-color: #226FA7;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   font-weight: bold;
}
.box:hover{
    background-color: #79A8D5;
}

/* Highlight effect for the selected button */
// .box.highlight {
//   background-color: #ffeeba; /* Adjust the background color as needed */
//   color: #856404; /* Adjust the text color as needed */
// }
.highlight{
  background-color: #F9F7C9;
  color: #856404; /* Adjust the text color as needed */
}
