* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/assets/img/bg.jpg");
  background-size: cover;
  background-position: center;
}

.inner-container {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.wrapper {
  position: relative;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  margin-left: 17px;
}

.center-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

form {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.5em;
}

.input {
  border: 1px solid #ebebeb;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.input:focus {
  border-color: rgb(14, 165, 233);
}

.text-header{
  font-size: 30px;
  font-weight: bold;
}

.btn {
  background-color: rgb(10, 110, 156);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(8, 95, 133);
}

.alert {
  background-color: #f8d7da;
  color: #58151C;
  padding: 10px;
  border: 1px solid #f1aeb5;
  border-radius: 4px;
  margin-top: 10px;
}

.toggle-container {
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 150px;
}

.toggle, .btn {
  border-radius: 10px;
}

.toggle {
  background-color: rgb(14, 165, 233);
  height: 100%;
}

i:hover {
  transform: scale(1.2);
}
