.chat-container {
   height: 80vh; 
   max-height: 80vh;
   overflow-y: auto;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .received {
    background-color: #f0f0f0;
  }
  
  .sent {
    background-color: #85a686;
    color: white;
  }
  
  .sender {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .new-message {
    margin-top: 20px;
  }
  
  .searched-message {
    padding: 8px;
    width: 90%;
    margin-right: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  
  .quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  form {
    margin-top: 10px;
  }


  
  button:hover {
    background-color: #45a049;
  }
  