.container {
  overflow-y: scroll;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.search {
  padding: 8px;
  width: 94%;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
}

.upload {
  padding: 5px 5px;
  max-width: 20%;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: #ffeeba;
    color: #856404;
  }



  &.clicked {
    background-color: #ffeeba;
    color: #856404;
  }
}

.delete {
  padding: 5px 10px;
  max-width: 20%;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
  &:hover {
    background-color: #ffeeba;
    color: #856404;
  }

  &.clicked {
    background-color: #ffeeba;
    color: #856404;
  }
}

.login-container {
  background-color: #4CAF50;
  color: white;
  border-radius: 3px;

  &:hover {
    background-color: #ffeeba !important;
    color: #856404 !important;
  }

  &.clicked {
    background-color: #ffeeba;
    color: #856404;
  }
}

.menu-container {
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &.show {
    display: block;
  }
}

.menu-item {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}


.checkbox {
  position: absolute;
  margin: 12px;
  right: 0;
  transform: translate(0, -50%);
}


.file_choose {
  max-width: 100%;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-top: 1rem;
  position: relative;

  .progress {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
  }

  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
  }
}

