<div class="container p-3 h-[80vh] relative">
    <div class="new-message  relative pb-4">
        <input type="text" class="search" placeholder="Search file...">
        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search absolute top-3 right-10" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
      </div>
    <div class="file_container space-y-4 px-3">
        <ng-container *ngIf="res_file.length <= 0 ">
        <p>Upload File To Use App</p>
        </ng-container>
        <ng-container *ngFor="let data of res_file,let i = index">
          <ng-container *ngIf="i<=12">
        <p >{{data.id}}. {{data.title}} <span><input type="checkbox" name="{{data.title}}" value="{{data.id}}"></span></p>
        </ng-container>
      </ng-container>
    </div>
   
    <div class=" absolute bottom-2">
        <form (ngSubmit)="onSubmit()" #uploadForm="ngForm" enctype="multipart/form-data" class="flex">
          <input type="file" name="file" (change)="onFileSelected($event)" accept=".docx, .txt, .pdf">
          <button type="submit" [disabled]="!selectedFile" class="upload">Upload</button>
        </form>
      </div>
</div>


  <div class="login-container mt-5 ">
    <button  style="color: white;" class="login-button w-full white py-2" (click)="HandleLogin()">Login</button>
  </div>
  
  
            
  <button *ngIf="UserProfile" class="flex  text-lg mt-5" (click)="toggleMenu()">
    <img class="w-7 h-7" src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916_640.png" alt="">
    <span class="px-5">Ho Tan Anh </span>
      </button>
      <div class="menu-container">
        <div class="menu" [class.show]="isMenuOpen" >
          <button class="menu-item">Tài Khoản</button>
          <button (click)="logout()" class="menu-item">Đăng xuất</button>
        </div>
      </div>
      